
/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid
 {
  height: 100%;

}

.row {
  height: 90%;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.mapContainer {
    height: 100%;
}

#map {
  height: 90%;
}
  
.infoContainer {
    height: 100%;
}

#infoText {
    height: 90%;
}

.stationCard {
    font-size: 0.7em;
}

.stationCard .card-header {
    font-weight: bold;
}

.aboutFooter {
  font-style: italic;
  font-size: 0.8em;
}