html.wf-loading * {
  opacity: 0;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    background: #F8F9FA;
    
    font-family: 'Noto Sans TC', sans-serif;
}

.container-fluid
{
    height: 100%;

}

.row {
    height: 90%;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.mapContainer {
    height: 100%;
}

#map {
  height: 92%;
}
  
.infoContainer {
    height: 100%;
}

#infoText {
    background: #C1C1C1;
    height: 92%;
}

.stationCard {
    font-size: 0.7em;
}

.stationCard .card-header {
    font-weight: bold;
}

.aboutFooter {
  font-style: italic;
  font-size: 0.8em;
}